:root {
  --roboto: "Roboto";
  --raleway: "Raleway";
}

.is-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(2) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--roboto), sans-serif;
  color: #212121;
  line-height: 1.71;
  font-size: 14px;
}

section {
  padding: 94px 0;
}

.cont {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.icon--medium {
  width: 70px;
  height: 70px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  line-height: 1.16;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

h3 {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  color: #212121;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

a {
  outline: none;
  text-decoration: none;
}

.Web {
  color: #2196f3;
}

.web-studio {
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  align-self: center;
}

.header {
  width: 100%;
  background-color: #ffffff;
  /* position: fixed;
    bottom: 0; */
}
.header__cont {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.nav__list {
  width: 320px;
  margin-left: 93px;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  position: relative;
}
.nav__link {
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
}
.nav__link:hover {
  color: #2196f3;
}
.nav__link:focus {
  color: #2196f3;
}
.nav__link--line::before {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.contacts__link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
}
.contacts__link:hover, .contacts__link:hover use {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__icon--email {
  width: 16px;
  height: 12px;
}
.contacts__icon--tel {
  width: 12px;
  height: 16px;
}

.hero-section {
  padding: 0;
  background-image: url(../img/main.png);
}
.hero-section__cont {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section__text {
  display: block;
  width: 696px;
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section__button {
  width: 216px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.characteristics__cont {
  display: flex;
  justify-content: space-between;
}
.characteristics__card {
  width: 270px;
}
.characteristics__icon-cont {
  border-radius: 4px;
  background: #f5f4fa;
}
.characteristics__icon {
  width: 70px;
  height: 70px;
  padding: 25px 100px;
  box-sizing: content-box;
}

.fotos__main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto 50px;
}
.fotos__list {
  display: flex;
  justify-content: space-between;
}
.fotos__item {
  height: 294px;
  position: relative;
}
.fotos__text {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 0;
  margin: 0 auto;
  background: rgba(47, 48, 58, 0.8);
  flex-shrink: 0;
}

.peoples {
  background: #f5f4fa;
  color: #757575;
}
.peoples__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.peoples__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.peoples__list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.people-card__name {
  margin-top: 30px;
}
.people-card__text {
  margin-top: 10px;
}
.people-card__contacts {
  width: 210px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.people-card__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.people-card__icon:hover, .people-card__icon:hover use {
  background-color: #2196f3;
  fill: #ffffff;
}
.people-card__link {
  height: 20px;
}

.clients__cont {
  display: flex;
  justify-content: space-between;
}
.clients__item {
  border: 1px solid #afb1b8;
}
.clients__item:hover, .clients__item:hover .clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__icon {
  box-sizing: content-box;
  width: 106px;
  height: 60px;
  padding: 16px 32px;
}

.footer {
  display: flex;
  width: 100%;
  background: #2f303a;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}

.address {
  font-style: normal;
}
.address__item {
  margin-left: 10px;
}
.address__link {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
}
.address__link:hover, .address__link:focus {
  background-color: #2196f3;
}
.address__link:first-child {
  margin: 0;
}

.web-studio- {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background);
}

footer article {
  padding: 60px 0;
}

.join h3,
.footer-form h3 {
  margin: 0 0 20px;
  color: var(--buttons-grey);
}

footer article:first-child {
  margin-left: 30px;
}

.join {
  margin-left: 70px;
}

.footer-links {
  font-style: normal;
  color: var(--light-grey);
}

.footer-links:focus {
  background-color: var(--blue-color);
}

.footer-links:hover {
  background-color: var(--blue-color);
}

.footer-kontacts {
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
}

footer .background-contacts {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-input-box {
  display: flex;
  width: 570px;
}

.footer-input-box input {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form {
  margin-left: 93px;
}

.footer-form-button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-button svg {
  fill: var(--background);
}

.footer-input-box svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal-section {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.modal-window {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--background);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-window label {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-bottom: 4px;
}

.modal-button-close {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-close svg {
  height: 18px;
  width: 18px;
  fill: var(--color-text);
}

.modal-button-close:hover svg,
.modal-button-close:hover {
  background-color: var(--background);
  fill: var(--blue-color);
}

.modal-window h2 {
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 0.6px;
}

.modal-form {
  margin: 0 41px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modal-form > label {
  margin-top: 10px;
}

.modal-form p:first-child {
  margin-top: 12px;
}

.input-zone {
  position: relative;
  display: flex;
  align-items: center;
}

.maodal__input:hover {
  border: 1px solid var(--blue-color);
}

.maodal__input:focus {
  border: 1px solid var(--blue-color);
}

.maodal__input:hover ~ .form-icon use path {
  fill: var(--blue-color);
}

.maodal__input:focus + .form-icon use {
  fill: var(--blue-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--color-text);
}

.maodal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}

.maodal__input:focus {
  outline: none;
  /* border: 0px solid beige ; */
}

.modal-text {
  padding: 12px 16px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.form-checkbox {
  margin-top: 20px;
  display: flex;
  align-content: center;
}

.form-checkbox p {
  margin-left: 7px;
}

.form-checkbox a {
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: var(--blue-color);
  /* outline: var(--blue-color); */
  text-decoration: underline;
}

.form-button {
  align-self: center;
  border: none;
  color: var(--background);
  width: 200px;
  height: 50px;
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: var(--blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-section .form-button {
  margin-top: 30px;
}

.text-on-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.proect {
  width: 370px;
  background: var(--background);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cont-overflow {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  color: var(--background);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 600ms ease-out;
}

.cont-overflow:hover .portfolio-overlay {
  transform: translateY(0);
}