.clients {
  &__cont {
    @extend %basic-flex;
  }
  &__item {
    border: 1px solid #afb1b8;
    &:hover,
    &:hover .clients__icon {
      border-color: $blue-color;
      fill: $blue-color;
    }
  }
  &__icon {
    box-sizing: content-box;
    width: 106px;
    height: 60px;
    padding: 16px 32px;
  }
}
