.is-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(2) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--roboto), sans-serif;
  color: $color-text;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.48px;
}

section {
  padding: 94px 0;
}

.cont {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.icon--medium {
  width: 70px;
  height: 70px;
}
ul {
  list-style: none;
  padding: 0;
}

h2 {
  line-height: 1.16;
  color: $color-text;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

h3 {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  color: $color-text;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $color-text;
}
a {
  outline: none;
  text-decoration: none;
}
.Web {
  color: $blue-color;
}
.web-studio {
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-text;
  align-self: center;
}
.messenger {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &--dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:hover,
  &:hover use {
    background-color: $blue-color;
    fill: $background;
  }
}
.messenger__logo--dark {
  fill: $background;
}
@media (min-width:320px) {
  section{
    padding: 60px 15px;
  }
}
@media (min-width:1200px) {
  section{
    padding: 60px 0;
  }
}