.header {
  width: 100%;
  background-color: $background;
  /* position: fixed;
    bottom: 0; */
  &__cont {
    padding: 25px 0;
    @extend %basic-flex;

    align-items: center;
  }
}
.nav {
  font-weight: 500;
  font-size: 14px;
  display: flex;

  &__list {
    width: 282px;
    // width: 320px;
    // margin-left: 93px;
    margin-left: 88px;
    display: flex;
  }
  &__item {
    position: relative;
  }
  &__link {
    line-height: 1.14;
    color: $color-text;
    text-decoration: none;
    &:hover {
      color: $blue-color;
    }
    &:focus {
      color: $blue-color;
    }
    &--line::before {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $blue-color;
      border-radius: 2px;
    }
  }
}
.contacts {
  display: none;
  align-content: start;
  &__link {
    color: $light-grey;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &:hover use {
      color: $blue-color;
      fill: $blue-color;
      // stroke: $blue-color;
    }
    &:last-child {
      margin-left: 30px;
    }
  }
  &__icon {
    &--email {
      width: 16px;
      height: 12px;
    }
    &--tel {
      width: 12px;
      height: 16px;
    }
  }
}
@media (min-width: 320px) {
  .nav {
    justify-content: space-between;
    padding: 0px 15px;
    &__list {
      display: none;
    }
  }
  .contacts {
    display: none;
  }
}
@media (max-width: 768px) {
  .mobile-menu-list {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    &__button {
      display: none;
      &:checked ~ .mobile-menu-list__line-cont {
        position: fixed;
      }
      &:checked ~ .mobile-menu-list__line-cont .mobile-menu-list__line:before {
        transform: translateY(-7px) rotate(0);
      }
      &:checked ~ .mobile-menu-list__line-cont .mobile-menu-list__line:after {
        transform: translateY(-15px) rotate(90deg);
      }
      &:checked ~ .mobile-menu-list__line-cont .mobile-menu-list__line {
        transform: rotate(-45deg);
      }
    }
    &__line-cont {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 40px;
      height: 40px;
      right: 23px;
    }
    &__line {
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 3px;
      background-color: $color-text;
      transition: transform 0.5s ease;
      &:before,
      &:after {
        background-color: $color-text;
        display: block;
        width: 25px;
        height: 2px;
        content: "";
        margin: 7px 0;
        transition: 0.5s;
      }
    }
    .address__link {
      color: $color-text;

      &:hover,
      &:focus {
        color: $blue-color;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
  .js-menu-container {
    display: none;
  }
  .mobile-menu {
    display: block;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background;
    z-index: 1;
    &__cont {
      display: flex;
      max-height: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 48px 40px;
    }
    &__nav {
      display: flex;
      flex-direction: column;
    }
    &__link {
      color: $color-text;
      font-size: 40px;
      font-weight: 500;
      line-height: 47px;
      letter-spacing: 0.02em;
      margin-bottom: 32px;
      &:hover {
        color: $blue-color;
      }
    }
    .address {
      align-items: start;
      &__item {
        margin: 0;
      }
      &__link {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.48px;
        &:hover {
          font-size: 34px;
        }
      }
    }
    .media-list {
      display: flex;

      &__link {
        color: $blue-color;
        border-right: 1px solid $light-grey;
        padding: 0px 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px; /* 122.222% */
        letter-spacing: 0.36px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .mobile-menu-list,
  .js-menu-container {
    display: none;
  }
  .header {
    &__cont {
      justify-content: space-between;
    }
  }
  .nav {
    &__list {
      // @extend %basic-flex;
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
  }
  .contacts {
    // @extend %basic-flex;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .header {
    &__cont {
      // @extend %basic-flex;
      display: flex;
      justify-content: space-between;
    }
  }
  .contacts {
    // @extend %basic-flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
