header {
  width: 100%;
  background-color: var(--background);
  /* position: fixed;
    bottom: 0; */
}
header .cont {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
nav {
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.nav-list li {
  position: relative;
}

header ul {
  width: 320px;
  margin-left: 93px;
  display: flex;
  justify-content: space-between;
}
.studio {
  line-height: 1.14;
  color: var(--color-text);
  text-decoration: none;
}

.studio:hover {
  color: var(--blue-color);
}

.works {
  line-height: 1.14;
  text-decoration: none;
  color: var(--color-text);
}

.works:focus {
  color: var(--blue-color);
}

.works:hover {
  color: var(--blue-color);
}

.kontacts {
  line-height: 1.14;
  text-decoration: none;
  color: var(--color-text);
}

.kontacts:focus {
  color: var(--blue-color);
}

.kontacts:hover {
  color: var(--blue-color);
}

.email {
  color: var(--light-grey);
  text-decoration: none;
  font-weight: 500;
}

.email:hover {
  color: var(--blue-color);
}

.main-studio::before,
.works-portfolio::before {
  content: " ";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.mail-svg {
  width: 16px;
  height: 12px;
  stroke: var(--light-grey);
}

.email:hover .mail-svg use {
  stroke: var(--blue-color);
}

.tel {
  color: var(--light-grey);
  text-decoration: none;
  font-weight: 500;
}

.tel:hover {
  color: var(--blue-color);
}

.tel-svg {
  width: 10px;
  height: 16px;
}

.tel:hover .tel-svg use {
  stroke: var(--blue-color);
}
