.filter {
  @extend %basic-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-card {
  @extend %portfolio-card;
  &:nth-last-child(-n + 3) {
    margin: 0;
  }
  &__list {
    @extend %basic-flex;
  }
  &__overflow-cont {
    height: 294px;
    position: relative;
    overflow: hidden;
    &:hover .project-card__overlay {
      transform: translateY(0);
    }
  }
  &__overlay {
    @extend %portfolio-overlay;
  }
}
