.filter {
  @extend %basic-flex;
  // width: 575px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto 48px;
  &__button {
    @include button(22px);
    padding-top: 6px;
    padding-bottom: 6px;
    color: $color-text;
    background-color: $buttons-grey;
    border-radius: 4px;
    &:hover {
      @include button(24px);
    }
  }
}

.project-card {
  @include portfolio-card(100%);
  &:nth-last-child(-n + 3) {
    margin: 0;
  }
  &__image {
    width: 100%;
    max-width: 430px;
    display: flex;
    margin: 0 auto;
  }
  &-section__list {
    @extend %basic-flex;
  }
  &__text {
    margin: 4px 24px 20px;

    &--main {
      margin-left: 24px;
      margin-top: 20px;
    }
  }
  &__overflow-cont {
    height: 294px;
    position: relative;
    overflow: hidden;
    &:hover .project-card__overlay {
      transform: translateY(0);
    }
  }
  &__overlay {
    @extend %portfolio-overlay;
  }
}
@media (min-width: 320px) {
  .filter {
    justify-content: start;
    &__button {
      margin: 15px 8px;
    }
  }
  .project-card {
    &-section__list {
      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}
@media (min-width: 786px) {
  .filter {
    justify-content: center;
    &__button {
      margin: 15px 8px;
    }
  }
  .project-card {
    &-section__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 1200px) {
  .filter {
    &__button {
      margin: 15px 8px;
    }
  }
  .project-card {
    @include portfolio-card(370px);
    &__image{
      width: 370px;
      
    }
    &-section__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
