.peoples {
  background: $buttons-grey;
  color: $light-grey;
  &__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
  }
}

.people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &__name {
    margin-top: 30px;
  }
  &__text {
    margin-top: 10px;
  }
  &__contacts {
    width: 210px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  
  &__link {
    height: 20px;
  }
}